<%- include("patials/header"); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="postTitle" id="">
    </div>
    <div class="form-group mt-2">
        <label for="title">Post</label>
        <textarea  class="form-control" name="postBody" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Publish</button>
</form>
<%- include("patials/footer"); -%>